
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <div class="images p-3">
                <div class="text-center p-4">
                    <div class="item">
                        <ngx-skeleton-loader [theme]="{height: '330px'}" count="1" appearance="" />
                        <!-- above line will produce the rendering of 5 circles with the pulse animation and the aria-valuetext attribute set with "This item is actually loading..." -->
                      </div>
                  <img id="main-image" width="250" />
                </div>
                <!-- <div class="thumbnail text-center"> -->
                <!-- <img
                    onclick="change_image(this)"
                    src="https://i.imgur.com/Rx7uKd0.jpg"
                    width="70"
                  />
                  <img
                    onclick="change_image(this)"
                    src="https://i.imgur.com/Dhebu4F.jpg"
                    width="70"
                  /> -->
                <!-- </div> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="product p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <ngx-skeleton-loader [theme]="{width:'50px'}" count="1" appearance="" />
                  <div routerLink=".." class="d-flex align-items-center btn">
                    <!-- <i class="fa fa-long-arrow-left"></i> -->
                    <!-- <span class="ml-1">Back</span> -->
                  </div>
                  <ngx-skeleton-loader [theme]="{width:'50px'}" count="1" appearance="" />
                </div>
                <div class="mt-4 mb-3">
                    <div class="item">
                        <ngx-skeleton-loader [theme]="{width:'200px'}" count="1" appearance="" />
                      </div>
                      <div class="item">
                        <ngx-skeleton-loader [theme]="{width:'120px'}" count="1" appearance="" />
                      </div>
                      <div class="item">
                        <ngx-skeleton-loader [theme]="{height:'200px'}" count="1" appearance="" />
                      </div>
                      <div class="item">
                        <ngx-skeleton-loader [theme]="{width:'70px'}" count="1" appearance="" />
                      </div>
                      <div class="item">
                        <ngx-skeleton-loader [theme]="{width:'30px'}" count="1" appearance="" />
                        <ngx-skeleton-loader [theme]="{width:'30px',marginLeft:'7px'}" count="1" appearance="" />
                        <ngx-skeleton-loader [theme]="{width:'30px',marginLeft:'7px'}" count="1" appearance="" />
                        <ngx-skeleton-loader [theme]="{width:'30px',marginLeft:'7px'}" count="1" appearance="" />
                        <ngx-skeleton-loader [theme]="{width:'30px',marginLeft:'7px'}" count="1" appearance="" />
                      </div>
                      <div class="item">
                        <ngx-skeleton-loader [theme]="{width:'120px',height:'40px'}" count="1" appearance="" />
                      </div>
                  <h5 class="text-uppercase"></h5>
                  <div class="price d-flex flex-row align-items-center">
                    <span class="act-price"></span>
                    <div class="ml-2">
                      <small class="dis-price"
                        ></small
                      >
                    </div>
                  </div>
                </div>
                <p class="about">
                </p>
                <div class="sizes mt-5">
                  <!-- <h6 class="text-uppercase">Size</h6> -->
                 
                  <!-- <label class="radio text-primary">
                    <input type="radio" name="size" value="S" checked />
                    <span >S</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="size" value="M" /> <span>M</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="size" value="L" /> <span>L</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="size" value="XL" /> <span>XL</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="size" value="XXL" />
                    <span>XXL</span>
                  </label> -->
                </div>
                <!-- <div class="cart mt-4 align-items-center">
                  <button class="btn btn-primary text-uppercase mr-2 px-4">
                    Add to cart
                  </button>
                  <i class="fa fa-heart text-muted"></i>
                  <i class="fa fa-share-alt text-muted"></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>