<!-- <div class="main-navbar shadow-sm sticky-top"> -->
<div *ngIf="isLoggedIn" class="top-navbar">
  <nav
    class="navbar navbar-expand-sm navbar-light bg-light d-flex justify-content-between"
  >
    <div class="d-flex">
      <a class="navbar-brand"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="['home']" class="nav-item nav-link active">Home</a>
          <a [routerLink]="['home/create-villas']" class="nav-item nav-link">Add Villa</a>
          <!-- <a class="nav-item nav-link">Pricing</a> -->
        </div>
      </div>
    </div>
    <div class="float-end mr-3">
      <a (click)="logout()" class="nav-item nav-link btn">Logout</a>
    </div>
  </nav>
</div>
