<div class="d-flex align-items-center my-2 margin-auto row">
  <div class="col-md-5 d-flex justify-content-around logo">
    <h5 class="brand-name">Funda Ecom</h5>
  </div>
  <div class="col-md-7">
    <div class="">
      <form role="search">
        <div class="input-group">
          <input
            type="search"
            placeholder="Search your product"
            class="form-control"
            style="background-color: #508bfc"
          />
          <button class="btn" type="submit" style="background-color: #5c8be2">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
